<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan QR</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Scan the QR for the question <%= nextQuestionNumber %> of <%= totalQuestions %></h1>

        <video id="preview" style="width: 100%;"></video>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- ZXing Library -->
    <script src="https://unpkg.com/@zxing/library@latest"></script>
    <script>
        const { BrowserMultiFormatReader } = window.ZXing;
        const codeReader = new BrowserMultiFormatReader();

        const videoElem = document.getElementById('preview');

        codeReader.decodeFromInputVideoDevice(undefined, videoElem)
            .then((result) => {
                console.log(result);
                window.location.href = result.text;
            })
            .catch((err) => console.error(err));

        // Si necesitas detener el escáner en algún momento, puedes hacerlo con:
        // codeReader.reset();
    </script>
</body>

</html>